/.gradle
/captures/
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Override parent gitignores — these need to be tracked.
!gradlew
!gradle/wrapper/gradle-wrapper.jar

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
